<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/style.css" />
		<title>Welcome to The Hoard</title>
	</head>
	<body>
		<h2 id="intro">Welcome to...</h2>
		<h1 id="program-name">The Green Dragon's Hoard</h1>
		<div id="how-to-use">
			<h3>What is The Hoard?</h3>
			<p>
				It is a system to catalogue all of the board games stocked at The Green Deagon Inn. There are over one-hundred on our shelves and we need help entering them, so others may find their perfect game more easily! Use the link below to enter The Hoard, where you may:</p>
			<ul>
				<li>
					<h4>View Our Collection</h4>
					<p>Browse games already in the system. Check info such as play time, number of players and more!</p>
				</li>
				<li>
					<h4>Add A New Game</h4>
					<p>Is there a game on the shelf that's not in the system yet? Add it in!</p>
				</li>
				<li>
					<h4>Edit An Existing Game</h4>
					<p>See something off with one of our entries? Jump in there and fix it!</p>
				</li>
				<li>
					<h4>Remove A Game</h4>
					<p>Duplicate or obselete entry? Delete it and keep The Hoard up to date!</p>
				</li>
			</ul>
		</div>
		<a href="/games">Enter The Hoard!</a>
	</body>
</html>
