<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="./css/style.css" />
		<title>Home</title>
	</head>
	<body>
        <h1>Home Page</h1>
		<p>This is the landing page when you navigate to the site. It will have a welcome message and a button that lets you enter the site. (In future iterations, it can hold links to access game companions [companion templates will also be linked on the game's show page], sign up as a player, view player profiles, go to themed leaderboards [Hall of Champions], etc.)</p>
    </body>
</html>
