<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/style.css" />
		<title>Welcome to The Hoard</title>
	</head>
	<body>
		<section class="page-head">
			<h3 id="intro">Welcome to...</h3>
			<h1 id="program-name">The Green Dragon's Hoard</h1>
		</section>
		<section id="about">
			<h2>What is The Hoard?</h2>
			<p>
				It is a system to catalogue all of the board games stocked at The Green Dragon Inn. There are over one-hundred on our shelves and we need help entering them, so others may find their perfect game more easily! Use the link below to enter The Hoard, where you may:
			</p>
		</section>
		<section id="actions">
			<ul>
				<li>
					<h2>View Collection</h2>
					<p>Browse games on our shelves. Check info such as play time, player count and more!</p>
				</li>
				<li>
					<h2>Add New Game</h2>
					<p>Is there a game on the shelf that's not in the system yet? Add it in!</p>
				</li>
				<li>
					<h2>Edit Existing Game</h2>
						<p>See something off with one of our entries? Jump in there and fix it!</p>
				</li>
				<li>
					<h2>Remove Game</h2>
					<p>Duplicate or obselete entry? Delete it and keep The Hoard up to date!</p>
				</li>
			</ul>
		</section>
		<div class="button-box">
			<form action="/games">
				<button type="submit">Enter The Hoard!</button>
			</form>
		</div>
	</body>
</html>
