<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="./css/style.css" />
		<title>Game Index</title>
	</head>
	<body>
        <h1>Game Index</h1>
        <p>This is a page that will list all the games in the collection. It will allow adding games and further filtering. Editing and deleting an entry will be on the show page for the game.</p>
    </body>
</html>
