<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/style.css" />
		<title>Game Collection</title>
	</head>
	<body>
        <h1>The Hoard</h1>
        <p>Check out the board games currently in our collection:</p>
		<ul>
			<% games.forEach( (game) => { %>
			<li>
				<a href="/games/<%= game._id %>"><%= game.gameName %></a>
			</li>
			<% }) %>
		</ul>
		<div class="button-box">
			<form action="/games/add">
				<button type="submit">Add New Game</button>
			</form>
			<form action="/">
				<button type="submit">Back To Home</button>
			</form>
		</div>
    </body>
</html>
